@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
}

@media (min-width: 1400px) {
  html {
    font-size: 125%;
  }
}

* {
  box-sizing: border-box;
}
